<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="http://codepen.io/Tefferson/pen/aNYaKv.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div id="body">
        @RenderBody()
    </div>
    <div id="footer"><h2 class="footer-title">By Tefferson Guterres - 2016</h2></div>
</body>
</html>