@{
    ViewBag.Title = "Huffman";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}

<section id="main-sec">
    <h1 class="title">Em construção</h1>
    <div id="ctrl">
        <input type="file" onchange="setInputText()" id="txtFile" />
        <input type="button" value="send" onclick="sendText()" />
    </div>

    <div id="txt-container">
        <div class="txt-container">
            <h2 class="txt-title">Entrada</h2>
            <textarea id="txt-in" cols="51" rows="20" placeholder="entrada..."></textarea>
        </div>
        <div class="txt-container">
            <h2 class="txt-title">Saída</h2>
            <textarea id="txt-out" cols="51" rows="20" placeholder="saída..."></textarea>
        </div>
    </div>

</section>

<script>

    function setInputText(){
        var file = document.querySelector("#txtFile").files[0];
        if (file) {
            var reader = new FileReader();
            reader.readAsText(file, "ASCII");
            reader.onload = function (evt) {
                document.getElementById('txt-in').value = evt.target.result;
            }
            reader.onerror = function (evt) {
                alert('oi');
            }            
        }
    };

    function sendText() {        
        $.ajax({
            url: "/Home/ProcessFile",
            type: "POST",
            data: { txt: document.getElementById('txt-in').value },
            DataType: "text",
            success: function (res) {
                console.log(res.encodedText.length);
                $("#txt-out").val(res.encodedText.reduce((a,b)=>a+String.fromCharCode(b)));
            },
            error: function (err) {
                alert(err);
            }
        });
    };
</script>
