@{
    ViewBag.Title = "Huffman";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}

<section id=main-sec>

  <h1 class=title>Em construção</h1>

</section>